/* ab01 시작 */

.about01 {
    position: 100px 0;
    background: #f9f9f9;
}

.about01 .about_title {
    padding: 100px 0;
}

.about01 .about_title h2 {
    text-align: center;
    font-size: 45px;
    color: #333;
    font-weight: 700;
}

.about01 .about_title h2 span {
    font-size: 45px;
    color: #1b2e5a;
    font-weight: 700;
}

.ab01_content {
    padding: 0 0 50px 0;
}

.ab01_content .about01img {
    justify-content: space-between;
    margin-bottom: 50px;
}

.ab01_content .ab01_text {
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 27px;
    margin-bottom: 50px;
}

.ab01_content .ab01_list {
    background: #fff;
    height: 220px;
    padding: 40px 50px;
    line-height: 25px;

}

.ab01_content .ab01_list .left,
.ab01_content .ab01_list .right {
    display: inline-block;
}

.ab01_content .ab01_list .left span {
    display: block;
    width: 100px;

    font-size: 15px;
    font-weight: 700;
    color: #333;
}

.ab01_content .ab01_list .right span {
    display: block;

    font-size: 15px;
    font-weight: 500;
    color: #333;
}

/* ab01 끝 */


/* ab02 시작 */


.about02 .ab_bg {

    background: url(../img/ab02_bg.png) no-repeat center center/cover;
    height: 400px;
    /* margin: 0 0 100px 0; */
}

.ab02_content {
    position: relative;
    margin-top: -45px;
}

.ab02_content .ab02_nav {
    /* position: absolute;
    top: -150px;
    left: 50%;
    transform: translate(-50%, 0); */

    padding: 0 10px;
    background: #fff;
    justify-content: space-between;

    border-bottom: 1px solid #888;
}

.ab02_content .ab02_nav a {
    display: inline-block;
    width: 33%;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #888;
    line-height: 75px;
}

.ab02_content .ab02_nav a.on {
    color: #1b2e59;
    border-bottom: 2px solid #1b2e59;
}

.ab02content_01 {}

.ab02content_01 .abcon02_01 {
    justify-content: center;
    margin-bottom: 100px;
}

.ab02content_01 .abcon02_01 .ab02_img01 {
    position: relative;
    width: 300px;
    height: 300px;
    background: url(../img/ab02img_01.png) no-repeat center center;
}

.ab02content_01 .abcon02_01 .ab02_img02 {
    position: relative;
    width: 300px;
    height: 300px;
    background: url(../img/ab02img_02.png) no-repeat center center;
}

.ab02content_01 .abcon02_01 .ab02_img03 {
    position: relative;
    width: 300px;
    height: 300px;
    background: url(../img/ab02img_03.png) no-repeat center center;
}


.ab02content_01 .abcon02_01 .ab02_img01 h3,
.ab02content_01 .abcon02_01 .ab02_img02 h3,
.ab02content_01 .abcon02_01 .ab02_img03 h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 500;

}

.ab02content_01 .abcon02_01 .ab02_img01 p,
.ab02content_01 .abcon02_01 .ab02_img02 p,
.ab02content_01 .abcon02_01 .ab02_img03 p {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%);

    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
}

.ab02content_02 {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.ab02content_02 ._main_text {
    margin: 0 0 50px 0;
}

.ab02content_02 .abcont02_01 figure {
    width: 100%;
    margin: 0 0 30px 0;
}

.ab02content_02 .abcont02_01 p {
    font-size: 15px;
    line-height: 1.5;
}

.ab02content_03 ._main_text p {
    margin: 0 0 50px 0;
}

.ab02content_03 .abcont02_02 {
    text-align: center;
}

/* ab02 끝 */



/* ab03 시작 */


.about03 .ab_bg {

    background: url(../img/ab02_bg.png) no-repeat center center/cover;
    height: 400px;
    /* margin: 0 0 100px 0; */
}

.ab03_content {
    position: relative;
    margin-top: -45px;
}

.ab03_content .ab03_nav {
    /* position: absolute;
    top: -150px;
    left: 50%;
    transform: translate(-50%, 0); */

    padding: 0 10px;
    background: #fff;
    justify-content: center;

    border-bottom: 1px solid #888;
}

.ab03_content .ab03_nav a {
    display: inline-block;
    width: 33%;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #888;
    line-height: 75px;
}

.ab03_content .ab03_nav a.on {
    color: #1b2e59;
    border-bottom: 2px solid #1b2e59;
}



#ab03content_01 {
    padding: 50px 0;
}

.ab03content_01 .add_list {
    padding: 20px 0;
    border-top: 1px solid #ddd;
}

.ab03content_01 .ab03Addredd_01,
.ab03content_01 .ab03Addredd_02 {
    background: #fff;

    line-height: 25px;

}

.ab03content_01 .ab03Addredd_01 .left,
.ab03content_01 .ab03Addredd_01 .right {
    display: inline-block;
}

.ab03content_01 .ab03Addredd_02 .left,
.ab03content_01 .ab03Addredd_02 .right {
    display: inline-block;
}

.ab03content_01 .ab03Addredd_01 .left span,
.ab03content_01 .ab03Addredd_02 .left span {
    display: block;
    width: 100px;

    font-size: 15px;
    font-weight: 700;
    color: #333;
}

.ab03content_01 .ab03Addredd_01 .right span,
.ab03content_01 .ab03Addredd_02 .right span {
    display: block;

    font-size: 15px;
    font-weight: 500;
    color: #333;
}

.wrap_controllers {
    display: none;
}


/* ab03 끝 */