input,
button,
textarea {
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
    color: #444;
    vertical-align: middle;
}

button {
    cursor: pointer;
}

.btn_o {
    background: transparent;
    border: none;
    outline: none;
    line-height: 1;
}

.bold {
    font-family: 'Nanum Myeongjo', serif;
}

.inner {
    width: 1200px;
    margin: 0 auto;
}

.flex_inner {
    display: flex;
    gap: 30px;
    width: 1200px;
    margin: 0 auto;
}

.sec {
    padding: 100px 0;
}

.sec .tit {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.sec .tit h2 {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.35em;
    margin: 0 0 10px 0;
}

.sec .tit .tit_dec {
    display: block;
    font-size: 14px;
    margin: 0 0 50px 0;
    word-break: keep-all;
    line-height: 24px;
}

.btn {
    display: inline-block;
    background: transparent;
    border: 1px solid #444;
    padding: 7px 20px 7px 20px;
}

.ab_bg {
    position: relative;
}

.suball_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;

    text-shadow: 0 0 1px #555;
}

.suball_title h2 {
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 30px 0;
}

.suball_title p {
    font-size: 20px;

}

._main_text {
    text-align: center;
    margin: 0 0 30px 0;
}

._main_text strong {
    display: block;
    font-size: 43px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

._main_text p {
    font-size: 18px;
}

.ab02con,
.ab03con {
    padding: 50px 0;
}