/*  네비  */

.sub_heade {
    position: relative;
    width: 100%;
    line-height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 300ms ease 0s;

}

.sub_heade.on {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background: #0c2340;
    z-index: 1000;
}

.sub_heade .sub_nav {
    width: 1200px;
    margin: 0 auto;
}

.sub_heade .sub_nav>li {
    position: relative;
    display: inline-block;

}

.sub_heade .sub_nav>li:first-child {
    border-left: 1px solid #ddd;
    border-right: 1px solid#ddd;
}

.sub_heade .sub_nav>li:last-child {
    border-left: 1px solid #ddd;
    border-right: 1px solid#ddd;
}

.sub_heade .sub_nav>li a {
    display: block;
    font-size: 14px;
    font-weight: 300;
    color: #fff;

}

.sub_heade .sub_nav .about_gnb a,
.sub_heade .sub_nav .con_gnb a {
    padding: 0 0 0 40px;
}

.sub_heade .sub_nav .about_gnb i,
.sub_heade .sub_nav .con_gnb i {
    padding: 0 20px 0 20px;
}

.sub_heade .sub_nav .home_gnb {
    text-align: center;
}

.sub_heade .sub_nav .home_gnb a {
    padding: 0 20px;
    font-size: 20px;
    font-weight: 500;
}


.sub_heade .sub_nav .about_gnb .sub_drop,
.sub_heade .sub_nav .con_gnb .sub_drop {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;

    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;

    z-index: 100;
}

.sub_heade .sub_nav .con_gnb.on .sub_drop,
.sub_heade .sub_nav .about_gnb.on .sub_drop {
    visibility: visible;
    opacity: 1;
}

.sub_heade .sub_nav .about_gnb .sub_drop li a,
.sub_heade .sub_nav .con_gnb .sub_drop li a {
    display: block;
    line-height: 40px;
    padding: 0 30px 0 15px;
    font-size: 14px;
    color: #eee;
    transition: 0.5s;

    text-align: center;
}

.sub_heade .sub_nav .about_gnb .sub_drop li:first-child,
.sub_heade .sub_nav .con_gnb .sub_drop li:first-child {
    border-top: 1px solid #ddd;
}

.sub_heade .sub_nav .about_gnb .sub_drop li a:hover,
.sub_heade .sub_nav .con_gnb .sub_drop li a:hover {
    background: rgba(0, 0, 0, 0.5);
}

.sub_heade.on .sub_nav .about_gnb .sub_drop li a:hover,
.sub_heade.on .sub_nav .con_gnb .sub_drop li a:hover {
    background: #061323;
}

.sub_heade.on .sub_nav .about_gnb .sub_drop,
.sub_heade.on .sub_nav .con_gnb .sub_drop {
    background: rgba(12, 35, 64, 0.9);
}